.FormContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.FormItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
