.App {
  width: 100%;
  height: 100vh;

  background: linear-gradient(
      217deg,
      rgba(143, 13, 136, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(10, 83, 10, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(5, 20, 105, 0.8), rgba(0, 0, 255, 0) 70.71%);

  background-size: 400% 400%;

  /*-webkit-animation: AnimationName 5s ease 1;
  -moz-animation: AnimationName 5s ease 1; */
  animation: AnimationName 25s ease-in-out infinite;
}

/*@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 45% 45%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 38%;
  }
  50% {
    background-position: 100% 63%;
  }
  100% {
    background-position: 0% 38%;
  }
} */
@keyframes AnimationName {
  0% {
    background-position: 50% 30%;
  }
  25% {
    background-position: 100% 93%;
  }
  50% {
    background-position: 30% 80%;
  }
  100% {
    background-position: 50% 30%;
  }
}
